In [28]:
import pandas as pd
import psycopg2

### **Notes**

Took 6 mins to collect: 
- fl_date, mkt_carrier_fl_num, origin_city_name, dest_city_name, distance, dep_delay, arr_delay, 
- carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay  
from flights table

In [29]:
#Flights table
con = psycopg2.connect(
    host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
    database = 'mid_term_project', 
    user = 'lhl_student',
    password = 'lhl_student',
    port = 5432
)

sql = '''
        SELECT *
        FROM flights_test
;
'''

data = pd.read_sql_query(sql,con)
con.close()

In [30]:
#display(data)
display(data.shape)

(660556, 20)

In [31]:
#save to file outside of git folder
data.to_csv(r'/Users/Prashanta/Desktop/airplane_data/flights_test(all_points).csv',sep=';')

In [12]:
#passengers table
con = psycopg2.connect(
    host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
    database = 'mid_term_project', 
    user = 'lhl_student',
    password = 'lhl_student',
    port = 5432
)

sql = '''      
        SELECT *
        FROM flights
        LEFT JOIN passengers ON flights.mkt_unique_carrier=passengers.unique_carrier
        LEFT JOIN fuel_comsumption ON passengers.unique_carrier=fuel_comsumption.unique_carrier
        LIMIT 500000
;        
'''

data = pd.read_sql_query(sql,con)
con.close()

In [13]:
#display(data)
display(data.shape)

(500000, 105)

In [14]:
#save to file outside of git folder
data.to_csv(r'/Users/Prashanta/Desktop/airplane_data/all_tables(500,000_points).csv',sep=';')

In [27]:
data.iloc[:,85:100]

,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,sint_gallons,ts_gallons,tdomt_gallons,tint_gallons,total_gallons,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost
0,3,142854724.0,56029877.0,55780672.0,32776274.0,144586823.0,287441547.0,143930940.0,144825950.0,288756890.0,275410791.0,109397007.0,113811159.0,68269995.0,291478161.0
1,3,137562940.0,54546724.0,53370698.0,26748257.0,134665679.0,272228619.0,138755009.0,135045450.0,273800459.0,304097370.0,121997544.0,124119300.0,63654648.0,309771492.0
2,3,148705915.0,69162069.0,53152792.0,23637495.0,145952356.0,294658271.0,149747679.0,146120837.0,295868516.0,343661677.0,159995468.0,123497735.0,56781862.0,340275065.0
3,3,141269610.0,72072743.0,49587966.0,20822947.0,142483656.0,283753266.0,142507092.0,142776452.0,285283544.0,313606314.0,159197498.0,110178721.0,48133920.0,317510139.0
4,3,159273291.0,75836175.0,53503498.0,28912077.0,158251750.0,317525041.0,160321024.0,158683197.0,319004221.0,344423320.0,164053458.0,117380657.0,65302471.0,346736586.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,3,128040494.0,70113254.0,55384149.0,19234413.0,144731816.0,272772310.0,129425994.0,145247990.0,274673984.0,176340779.0,97423930.0,78012640.0,28445672.0,203882242.0
499996,3,141031181.0,76818368.0,58039462.0,26851685.0,161709515.0,302740696.0,142245099.0,162311297.0,304556396.0,186832004.0,103501342.0,81354762.0,38242117.0,223098221.0
499997,3,139420157.0,78304192.0,58251384.0,32427759.0,168983335.0,308403492.0,140581589.0,169366813.0,309948402.0,195542705.0,111630469.0,86633831.0,49483955.0,247748255.0
499998,3,133303370.0,75608709.0,55027952.0,28091245.0,158727906.0,292031276.0,134665784.0,159357714.0,294023498.0,189385490.0,108426117.0,79599878.0,42331562.0,230357557.0
499999,3,128089752.0,71337902.0,55163615.0,25271415.0,151772932.0,279862684.0,129102217.0,152292687.0,281394904.0,166748398.0,93926667.0,73440020.0,34357490.0,201724177.0

In [24]:
data.groupby(by='dest_country').size()

dest_country
AG       798
AR        57
AW      1767
BE       342
BM       114
BQ      1425
BR       342
BS      2166
BZ       969
CA      7239
CH       228
CN      1710
CO       456
CR      2280
CU       741
DE      1197
DO      2223
EC       114
ES       228
FM      1368
FR       342
GB      1539
GR        57
GT      1083
HK       342
HN      1710
IE       342
IL       285
IT       285
JM      2394
JP      1881
KN       513
KR        57
KY      2736
LC      1311
MX     18297
NI       456
NL       228
NZ        57
PA       627
PH       171
PT       171
SE        57
SG        57
SV       684
SX       798
TC      1653
TT        57
US    435932
VE       114
dtype: int64