In [1]:
import pandas as pd
import psycopg2

### **Notes**

Took 6 mins to collect: 
- fl_date, mkt_carrier_fl_num, origin_city_name, dest_city_name, distance, dep_delay, arr_delay, 
- carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay  
from flights table

In [ ]:
#Flights table
con = psycopg2.connect(
    host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
    database = 'mid_term_project', 
    user = 'lhl_student',
    password = 'lhl_student',
    port = 5432
)

sql = '''
        SELECT *
        FROM flights
        ORDER BY RANDOM() LIMIT 10
;
'''

data = pd.read_sql_query(sql,con)
con.close()

In [ ]:
#display(data)
display(data.shape)

In [ ]:
#save to file outside of git folder
data.to_csv(r'/Users/Prashanta/Desktop/airplane_data/flights_test_table(300,000_points).csv',sep=';')

In [12]:
#passengers table
con = psycopg2.connect(
    host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
    database = 'mid_term_project', 
    user = 'lhl_student',
    password = 'lhl_student',
    port = 5432
)

sql = '''      
        SELECT *
        FROM flights
        LEFT JOIN passengers ON flights.mkt_unique_carrier=passengers.unique_carrier
        LEFT JOIN fuel_comsumption ON passengers.unique_carrier=fuel_comsumption.unique_carrier
        LIMIT 500000
;        
'''

data = pd.read_sql_query(sql,con)
con.close()

In [13]:
#display(data)
display(data.shape)

(500000, 105)

In [14]:
#save to file outside of git folder
data.to_csv(r'/Users/Prashanta/Desktop/airplane_data/all_tables(500,000_points).csv',sep=';')

In [11]:
data

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,116933634.0,57361049.0,65397671.0,36006770.0,158765490.0,275699124.0,118320230.0,159405790.0,277726020.0,2016
1,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,108637182.0,48480136.0,51598858.0,31604230.0,131683224.0,240320406.0,110006862.0,132212795.0,242219657.0,2016
2,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,135860987.0,58368588.0,61767973.0,39892592.0,160029153.0,295890140.0,137362636.0,160602360.0,297964996.0,2016
3,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,136755009.0,69845045.0,64280279.0,34618623.0,168743947.0,305498956.0,139221625.0,169452879.0,308674504.0,2016
4,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,166748398.0,93926667.0,73440020.0,34357490.0,201724177.0,368472575.0,168346615.0,202483949.0,370830564.0,2016
5,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,189385490.0,108426117.0,79599878.0,42331562.0,230357557.0,419743047.0,192041302.0,231311289.0,423352591.0,2016
6,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,195542705.0,111630469.0,86633831.0,49483955.0,247748255.0,443290960.0,197386646.0,248320530.0,445707176.0,2016
7,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,186832004.0,103501342.0,81354762.0,38242117.0,223098221.0,409930225.0,189370637.0,223990050.0,413360687.0,2016
8,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,176340779.0,97423930.0,78012640.0,28445672.0,203882242.0,380223021.0,178628479.0,204627367.0,383255846.0,2016
9,2019-03-19,UA,UA_CODESHARE,UA,5747,OO,N969SW,5747,14262,PSP,...,193065008.0,96695719.0,84147328.0,32197580.0,213040627.0,406105635.0,195620601.0,214063491.0,409684092.0,2016