In [1]:
import pandas as pd
import psycopg2

### **Notes**

Took 6 mins to collect: 
- fl_date, mkt_carrier_fl_num, origin_city_name, dest_city_name, distance, dep_delay, arr_delay, 
- carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay  
from flights table

In [ ]:
#Flights table
con = psycopg2.connect(
    host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
    database = 'mid_term_project', 
    user = 'lhl_student',
    password = 'lhl_student',
    port = 5432
)

sql = '''
        SELECT *
        FROM flights 
        ORDER BY RANDOM() LIMIT 50000
;
'''

data = pd.read_sql_query(sql,con)
con.close()

In [ ]:
#display(data)
display(data.shape)

In [ ]:
#save to file outside of git folder
data.to_csv(r'/Users/Prashanta/Desktop/airplane_data/flights_table(50,000_points).csv',sep=';')

In [ ]:
#passengers table
con = psycopg2.connect(
    host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
    database = 'mid_term_project', 
    user = 'lhl_student',
    password = 'lhl_student',
    port = 5432
)

sql = '''      
        SELECT flights.mkt_unique_carrier, passengers.unique_carrier
        FROM flights
        JOIN passengers ON flights.mkt_unique_carrier=passengers.unique_carrier
        ORDER BY RANDOM() LIMIT 10
;        
'''

data = pd.read_sql_query(sql,con)
con.close()

In [ ]:
#display(data)
display(data.shape)

In [ ]:
#save to file outside of git folder
data.to_csv(r'/Users/Prashanta/Desktop/airplane_data/flights&passengers_table(50,000_points).csv',sep=';')