In [15]:
%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py
%load_ext autotime

UsageError: Line magic function `%install_ext` not found.

In [16]:
import pandas as pd
import psycopg2

In [17]:
con = psycopg2.connect(
    host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
    database = 'mid_term_project', 
    user = 'lhl_student',
    password = 'lhl_student',
    port = 5432
)

sql = "SELECT * FROM flights LIMIT 3;"
    
    
data = pd.read_sql_query(sql,con)
con.close()

In [18]:
data

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-12-06,AA,AA,AA,1489,AA,N960AN,1489,11618,EWR,...,529.0,0.0,0.0,2.0,0.0,38.0,None,None,None,None
1,2018-12-06,AA,AA,AA,1490,AA,N869NN,1490,10423,AUS,...,977.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,2018-12-06,AA,AA,AA,1490,AA,N869NN,1490,13930,ORD,...,977.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None